ErrorDocument 404 /
ErrorDocument 403 /

<IfModule mod_rewrite.c>
        RewriteEngine on

	# Redirect everything to index.php	
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-l
        RewriteRule ^ index.php [L]
</IfModule>

