
<IfModule mod_rewrite.c>
        RewriteEngine on

	# Redirect everything to index.php	
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_FILENAME} !-l

	#
	# Redirect all requests for files 
	# ending with ".php" / ".txt" and ".md" 
	# to index.php
	# 

	RewriteRule ([^?]*)\.php$ index.php [L]
	RewriteRule ([^?]*)\.txt$ index.php [L]
	RewriteRule ([^?]*)\.md$ index.php [L]
	RewriteRule ^authorize([^?]*) index.php [L]

</IfModule>

# 403 redirected to /
ErrorDocument 403 /


